
html, body {
	margin: 0;
	height: 100%;
}
body {
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 600;
}

p {
	margin: 0;
}

* {
	background-color: unset;
}

img.pixelated {
  image-rendering: pixelated;
}

.content-container {
	margin: 35px 20px 20px 20px;

	/* container-fluid */
	padding-right: 15px;
	padding-left: 15px;
}